
.logo{
    height: 44px;
    font-weight: 62px;
}



.menu{
    display: flex; /*chamar as coisas do site (*CSS-TRICKS) */
    flex-direction: row;
    gap: 32px; /*coloca todas as distâncias entre os elementos que estão na tag */
}


.menuItem{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #000;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;
}

.menuItem:hover{
    letter-spacing: 0.8px;
    /*background-color: rgba(152, 158, 158, 0.945);
    border-radius: 10px;
    padding: 10px;*/
}


.corpo{
    margin-bottom: 48px;
}

.corpoPrincipal{
    align-items: center;
}

.corpoEscrito{
    font-family: 'Montserrat', sans-serif;
    padding-top: 39px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.userIcon{
    height:  132.41px;
    font-weight: 134.75px;
    padding-top: 25px ;
    margin-left: 104px;
}

.textinho{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-left: 104px;
    display: block;
    padding: 18px;
}

button{
    box-sizing: border-box;
    display: block;
    margin-bottom: 18px;
}

#login{
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #0D9AD8;
    width: 124px;
    height: 50px;
    margin-left: 155px;
    color: #fff;

}

#login:hover{
    letter-spacing: 0.5px; /*espaçamento entre as letras*/
}

#segundoBotao{
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #EE2135;
    width: 124px;
    height: 50px;
    margin-left: 155px;
    color: #fff;
}

#segundoBotao:hover{
    letter-spacing: 0.5px;
}

